body {
    font-family: Helvetica Neue,Helvetica,sans-seif;
    background-color: #17141f;
    color: #898395;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.message-line {
    font-size: 24px;
    line-height: 40px;
    word-wrap: break-word;
    padding: 12px 12px;
    margin: -6px 0px;
}
.badges {
    float: left;
}
.badges:after {
    content: '';
    display: table;
    clear: both;
}
.badges .badge {
    height: 36px;
    min-width: 36px;
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin: 2px 6px 2px 0;
}
.from {
    font-weight: 700;
}
.colon {
    margin-right: 4px;
}
.message-line.action .colon {
    display: none;
}
.emoticon {
    display: inline-block;
    vertical-align: middle;
    margin: -0.5rem 0;
}
